# Node modules
node_modules/

# Environment variables
.env

# Netlify
.netlify/state.json
.netlify/edge-functions-import-map.json

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.tmp
*.temp

# API keys and secrets
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
*.bak
*.backup

env.js